<div class="container">
  <div class="card bg-dark text-white m-3 mt-5">
    <h5 class="card-header text-center">
      COMUNEV SIGNUP FORM
    </h5>
    <div class="card-body">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-6">
            <label>First Name</label>
            <input
            type="text"
            class="form-control"
            formControlName="FirstName"
            [ngClass]="{'is-valid': submitted && h.FirstName.errors }"
             />
            <div *ngIf="submitted && h.FirstName.errors" class="text-warning">
              <div *ngIf="h.FirstName.errors.required">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Last Name</label>
            <input 
            formControlName="LastName"
            [ngClass]="{'is-valid': submitted && h.LastName.errors }"
            type="text" class="form-control" />
            <div *ngIf="submitted && h.LastName.errors" class="text-warning">
              <div *ngIf="h.LastName.errors.required">
                Last Name is required
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>D.O.B</label>
            <input 
            formControlName="DOB"
            [ngClass]="{'is-valid': submitted && h.DOB.errors }"
            type="date" class="form-control" />
            <div *ngIf= "submitted && h.DOB.errors" class="text-warning">
              <div>
                When Is Your Birthday
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input 
          formControlName="Email"
          [ngClass]="{'is-valid': submitted && h.Email.errors }"
          type="text" class="form-control" />
          <div *ngIf="h.Email.touched && h.Email.errors" class="text-warning">
            <div *ngIf="h.Email.errors.required">Email is required</div>
              <div *ngIf="h.Email.errors.Email">
                Email must be a valid email address
              </div>
            </div>
          </div>
        <ng-container *ngIf="h.Email.touched && h.Email.errors">
          <div *ngIf="h.Email.errors.required" class="text-danger">
            Value is required.
          </div>
        </ng-container>
        <div class="form-row">
          <div class="form-group col">
            <label>Password</label>
            <input 
            formControlName="Password"
            [ngClass]="{'is-valid': submitted && h.Password.errors }"
            type="password" class="form-control" />
            <div *ngIf="h.Password.touched && h.Password.errors" class="text-warning">
              <div *ngIf="h.Password.errors.required">Password is required</div>
            </div>
            </div>
          <div class="form-group col">
            <label>Confirm Password</label>
            <input 
            formControlName="ConfirmPassword"
            [ngClass]="{'is-valid': submitted && h.ConfirmPassword.errors }"
            type="password" class="form-control" />
            <div *ngIf="h.ConfirmPassword.touched && h.ConfirmPassword.errors" class="text-warning">
              <div *ngIf="h.ConfirmPassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="h.ConfirmPassword.errors?.mustmatch">
                Passwords must match
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-6">
          <label>Country</label>
          <input 
          formControlName="Country"
          [ngClass]="{'is-valid': submitted && h.Country.errors }"
          type="text" class="form-control" />
          <div *ngIf="h.Country.touched && h.Country.errors" class="text-warning">
            <div>
               HOMETOWN :)
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input 
          formControlName="acceptTandC"
          [ngClass]="{'is-valid': submitted && h.acceptTandC.errors }"
          type="checkbox" id="acceptTerms" class="form-check-input" />
          <label for="acceptTerms" class="form-check-label"
            >Accept Terms & Conditions</label
          >
          <div *ngIf="h.acceptTandC.touched && h.acceptTandC.errors" class="text-warning">
            Accept Ts & Cs is required
          </div>
        </div>
        <div class="text-center">
          <a href="https://www.comunev.com/"><button class="btn btn-success btn-lg px-3 mr-2">Register</button></a> &nbsp;
          <button (click)="onReset()" class="btn btn-warning" type="reset">
            Reset
          </button>
          
        </div>
      </form>
    </div>
  </div>
</div>
